@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  --color-hover: rgba(32, 59, 232);
  --transition: all 0.3s ease;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #eee;
  width: 78px;
  min-height: 100vh;
  padding: 0.5rem 1rem;
  transition: var(--transition);

  .nav-header {
    display: flex;
    align-items: center;
    height: 60px;
    position: relative;

    .logo {
      display: none;
      transition: var(--transition);
    }

    .collapse-btn {
      cursor: pointer;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-right: 10px;
      font-size: 1.5rem;
    }
  }
  .nav-links {
    margin-top: 20px;
    height: 100%;

    & input {
      display: none;
    }

    & li {
      position: relative;
      margin: 0.5rem 0;
      list-style: none;
      width: 100%;
      height: 100%;
      border-radius: 12px;

      .title {
        display: none;
      }

      .tooltip {
        position: absolute;
        top: -20px;
        left: calc(100% + 15px);
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
        padding: 6px 14px;
        font-size: 15px;
        white-space: nowrap;
        border-radius: 3px;
        opacity: 0;
        pointer-events: none;
        transition: 0s;
      }

      & a {
        display: flex;
        width: 100%;
        height: 100%;
        border-radius: 0.75rem;
        align-items: center;
        text-decoration: none;
        color: #000;
      }

      & i {
        color: #000;
        height: 50px;
        min-width: 50px;
        font-size: 23px;
        text-align: center;
        line-height: 50px;
        cursor: pointer;
      }
    }
    & li:hover {
      background-color: var(--color-hover);
      color: #000;

      .tooltip {
        opacity: 1;
        pointer-events: auto;
        transition: var(--transition);
        top: 50%;
        transform: translateY(-50%);
      }
    }

    & li:hover i {
      color: #fff;
    }
  }
  .theme-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    height: 60px;
    width: 250px;
    padding: 0.5rem 1rem;
    gap: 0.5rem;
    justify-content: space-between;
    align-items: center;

    .theme-icon {
      display: none;
      color: #000;
    }

    & p {
      display: none;
      transition: var(--transition);
    }
    .theme-btn {
      display: block;
      width: 40px;
      height: 20px;
      background: #e2e2e2;
      border-radius: 30px;
      position: relative;
      cursor: pointer;
      .theme-ball {
        width: 15px;
        height: 15px;
        background: #000;
        border-radius: 50%;
        transition: var(--transition);
      }
    }
  }
}

.sidebar.expand {
  width: 250px;
  transition: var(--transition);

  .nav-header {
    .logo {
      display: block;
      font-weight: 600;
      font-size: 23px;
    }
  }
  .nav-links {
    .search {
      display: flex;

      .search-btn {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-25px);
        font-size: 23px;
        color: #000;
        border-radius: 12px;
        background: transparent;
        transition: var(--transition);
      }

      .search:hover {
        background-color: #eee;
        color: #000;
        & i {
          color: #000;
        }
      }

      & input {
        font-size: 14px;
        font-weight: 400;
        color: #000;
        outline: none;
        height: 40px;
        width: 100%;
        border: none;
        border-radius: 12px;
        background: #e2e2e2;
        padding-left: 50px;
        display: inline;
      }
    }

    & li {
      .title {
        display: block;
      }
      .tooltip {
        display: none;
      }
    }

    & li:hover {
      .title {
        color: #fff;
      }
    }
  }

  .theme-wrapper {
    .theme-icon {
      display: block;
    }
    & p {
      display: block;
    }
  }

  ~ .main-container {
    left: 250px;
    width: calc(100%-250px);
  }
}

.light {
  .theme-wrapper {
    .theme-btn {
      .theme-ball {
        position: absolute;
        top: 2px;
        left: 3px;
      }
    }
  }
}

.dark {
  .theme-wrapper {
    .theme-btn {
      .theme-ball {
        position: absolute;
        top: 2px;
        right: 3px;
      }
    }
  }
}
.main-container {
  position: relative;
  top: 0;
  left: 78px;
  min-height: 100vh;
  width: calc(100% - 78px);
  transition: var(--transition);
  padding: 10px;
}
